---
import VoiceChat2 from "../components/voice-chat-2";
import Layout from "../layouts/layout.astro";
---

<Layout title="Voice Chat 2">
    <div class="flex flex-col h-screen bg-white">
        <VoiceChat2 />
    </div>
</Layout>
