---

---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>
			Abdullah.studio
		</title>
		<meta name='description' content='Personal website of Abdullah' />
	</head>
	<body class='bg-white'>
		<div class='grid place-items-center items-center h-screen w-screen'>
			<div class='grid gap-2 items-center place-items-center'>
				<span
					class='flex font-bold lg:text-7xl text-5xl uppercase gradient-text text-transparent animate-gradient'
				>
					Abdullah.studio
				</span>
				<span class='text-xl'>
					Coming Soon...
				</span>
			</div>
		</div>
	</body>
</html>

<style>
	.gradient-text {
		background: linear-gradient(
			to right,
			#a855f7,
			#ec4899,
			#eab308,
			#ec4899,
			#a855f7,
			#ec4899,
			#eab308
		);
		background-size: 300% 300%;
		background-clip: text;
	}
</style>
