---

---

<header
    class="sticky top-2 z-50 bg-background/80 flex items-center border border-gray-200 justify-between rounded-xl mx-auto max-w-4xl gap-4 px-4 py-2 flex-wrap"
>
    <a href="/" class="text-xl">Abdullah Bl</a>
    <nav class="flex items-center gap-4">
        <ul class="flex items-center gap-4">
            <li>
                <a
                    href="/blog"
                    class="text-gray-500 hover:text-gray-900 transition-colors"
                    >Blog</a
                >
            </li>
            <li>
                <a
                    href="https://github.com/abdullah-bl"
                    class="text-gray-500 hover:text-gray-900 transition-colors"
                    target="_blank"
                    rel="noopener noreferrer">GitHub</a
                >
            </li>
            <li>
                <a
                    href="mailto:mail@abdulla.studio"
                    class="text-gray-500 hover:text-gray-900 transition-colors"
                    target="_blank"
                    rel="noopener noreferrer">Contact me</a
                >
            </li>
        </ul>
    </nav>
</header>
